body{
	background-color: lightgoldenrodyellow;
}
h1{
	text-align: center;
	font-family: ALGERIAN;
	background-color: lightgrey;
	color: darkslateblue;
}
p{
	display: inline-block;
	color: darkorchid;
	font-size: 20px;
	float: center;
}
img{
	height: 300px;
}
h6{
	text-align: center;
}
h2{
	color: darkcyan;
}